/*=======STRUCTURE========*/
.panel-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.padding20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.padding40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.padding60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.padding80 {
	padding-top: 80px;
	padding-bottom: 80px;
}
.padding100 {
	padding-top: 100px;
	padding-bottom: 100px;
}
.padding-top20 {
	padding-top: 20px;
}
.padding-top40 {
   padding-top: 40px;
}
.padding-top60 {
	padding-top: 60px;
}
.padding-top80 {
	padding-top: 80px;
}
.padding-top100 {
	padding-top: 100px;
}
.padding-bottom20 {
	padding-bottom: 20px;
}
.padding-bottom40 {
	padding-bottom: 40px;
}
.padding-bottom60 {
	padding-bottom: 60px;
}
.padding-bottom80 {
	padding-bottom: 80px;
}
.padding-bottom100 {
	padding-bottom: 100px;
}
.nopad-left {
	padding-left: 0;
}
.nopad-right {
	padding-right: 0;
}
.nopad-top {
	padding-top: 0;
}
.nopad-bottom {
	padding-bottom: 0;
}
.imgFill {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.text-left {
	text-align: left; 
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

/*=======LOGO========*/
.logoarea {
	width: 100%;
	background-color: #fff;
	height: 0;
}
div#logo, div.logo {
	width: 100%;
	height: 0;
}

/*=======MENU========*/
.menuarea, #menu {
	width: 100%;
	height: auto;
}
#menu ul li.menuitem {
	width: auto !important;
}
a.menulink, a.menulink:link, a.menulink:active, a.menulink:visited {
	height: auto;
	line-height: 1.5;
}
.sf-menu ul {
  top: 100% !important;
  width: auto;
}
.sf-menu .submenuitem li {
  width: auto;
}
.sf-menu .submenuitem li a {
  width: auto;
}
/*=======CONTENT========*/

/*------ General ------*/
.pagebody {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 36px;
  line-height: 1.3;
}
h2 {
  font-size: 30px;
  line-height: 1.3;
}
h3 {
  font-size: 26px;
  line-height: 1.3;
}
h4 {
  font-size: 22px;
  line-height: 1.3;
}
h5 {
  font-size: 20px;
  line-height: 1.3;
}
h6 {
  font-size: 18px;
  line-height: 1.3;
}
p {
  font-size: 15px;
  line-height: 1.3;
}
.white * {
	color: #fff;
}
.black * {
	color: #000;
}

/*------ Scrollers ------*/
#scroller_956 {
	width: 100%;
	height: 400px; 
	background-color: transparent;
	border: none;
}
.scrollermessage {
	width: inherit !important;
	height: inherit !important;
	background: inherit;
}

/*------ Buttons ------*/
a.button {
	padding: 0.7em 2em;
	display: inline-block;
}

/*------ Parallax ------*/
.parallax-wrap {
	height: 100%;
	position: relative;
}
.parallax-bg {
	background: none 50% 50%/cover no-repeat fixed;
	width: 100%;
	height: inherit;
	position: absolute;
	top: 0;
	z-index: -1;
}

/*------ Background-color panels ------*/



/*=======FOOTER========*/


/*=======MEDIA QUERIES MUST BE AT END========*/
/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
	.sidr {
		box-shadow: none;
		background-color: #333;
	}
} 

/* Large devices (laptops/desktops, 992px and below) */
@media only screen and (max-width: 992px) {...}

/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {...}

/* Extra small devices (phones, 576px and below) */
@media only screen and (max-width: 576px) {...}


/* IE MEDIA QUERY - Add here any IE specific fixes */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {...}
/*==========END MEDIA QUERIES======*/

/*==========END CSS======*/